<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    
    <script src="../js/Jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>
    <!--导航-->
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">首页</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">登录</a></li>
            </ul>
        </div>      
    </div>
    <!--轮播图-->
    <div class="slide">
        <div>
            <h1>轮播图1</h1>
            ![](../assets/img/u=415293130,2419074865&fm=26&gp=0.jpg)</div>
        <div>
            ![](../assets/img/u=2460613335,2392222141&fm=26&gp=0.jpg)</div>
        <div>
            ![](../assets/img/u=3666601293,3039364040&fm=26&gp=0.jpg)</div>
    </div>
    <!--案例-->
    <div class="case">
        <div>
            <h2>案例1</h2>
            ![](../)
        </div>
        <div>
            <h2>案例2</h2>
            ![](../assets/case_2.jpg)
        </div>
        <div>
            <h2>案例3</h2>
            ![](../assets/case_3.jpg)
        </div>
    </div>
    <!--产品功能截图-->
    <div class="screenshoot">
        <div>
            <h2>截图1</h2> ![](../assets/img/u=415293130,2419074865&fm=26&gp=0.jpg)</div>
        <div>
            <h2>截图2</h2> ![](../assets/img/u=2460613335,2392222141&fm=26&gp=0.jpg)</div>
        <div>
            <h2>截图3</h2> ![](../assets/img/u=3666601293,3039364040&fm=26&gp=0.jpg)</div>
    </div>
    <!--底部-->
    <div class="footer">
        版权所有 2016
        <a href="">四光年科技</a>
    </div>
</body>
</html>